/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Cormorant;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
@font-face {
  font-family: Cormorant;
  src: url(./assets/Cormorant-VariableFont_wght.ttf);
} 

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/mobile_city.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  @media (max-width:425px) {
    text-align: justify;
    position: absolute;
  }

  @media (max-width:1024px) {
    text-align: center;
  }
}


/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
