body
{
	background-color: #d6a80e;
	font-family: "Arizonia";
	border: 50px;
	height: auto;
	width: auto;
	margin: 70px auto;
	background-size: cover;
	background-position: center;
	text-align: center;
}
