/*
font-family: 'Cormorant', serif;
font-family: 'Fauna One', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Bellota', cursive;
*/

body
{
	font-family: 'Cormorant', serif;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1, h2, h3
{
	font-family: 'Bellota', cursive;
}

.nav-bar
{
	padding: 10px;
	background-color: blue;
}

.nav-item
{
	padding: 10px;
	color: white;
}

.flex-container
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	padding: 0;
	margin: 0;
	list-style: none;
}

.flex-item
{
	background-color: #e9967a;
	padding: 10px 10px;
	margin: 10px 0px;
}

/*
	pseudi-class
 */
 a:hover
{
	color: yellow
}

a:focus
{
	color:red;
}

a:active
{
	color: orange;
}